
.potlucks-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px solid red;
    padding: 5px;
}

.link-to-post {
    text-decoration: none;
    display:flex;
    justify-content: center;
    color: #05386B;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid #05386B;
    border-radius: 3px;
    font-family: 'Muli';
    font-weight: 600;
}

.potluck-form {
    display: flex;
    justify-content: center;

    animation-name: potluck-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

}

.link-to-post:hover {
    background-color: #EDF5E1;
}

h2 {
    color: #05386B
}

@keyframes animation {
    from {opacity: 0;}
    to {opacity: 100;}
}


.PotluckListPage {
    display: flex;
    flex-direction: column;
    justify-content: center;

    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.created-by {
    color: #05386B;
}