/* .list-ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #05386B;
} */

.taken-item {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 3px;
}

.user-taking {
    font-weight: 400;
    font-size: large;
}

.not-taken {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-size: large;
}

.button-take {
    padding: 6px 20px;
    font-size: large;

}