

.potluck-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    text-decoration:none;
    font-family:'Muli',sans-serif;
    font-weight: 400;
    color:#EDF5E1;
    text-align:center;
    transition: all 0.2s;
    padding: 40px 10rem;
    box-shadow: 3px 3px solid red;
    color: red;
    background-color: #EDF5E1;
}

.potluck-container:focus {
    color:#000000;
    background-color: #05386B;
}

.expand {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }