.list-ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #05386B;
}

.taken-item {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}