.potluck-container {
    display: block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(118, 201, 97);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Muli',sans-serif;
    font-weight: 400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    padding: 20px;
}

.potluck-container:hover {
    color:#000000;
    background-color: grey;
}