.LoginForm {
	padding: 40px;
	background: #f4f7f8;
	border-radius: 8px;
}

.input-fields {
    margin: 5px;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px;
    margin-right: 20px;

}

.input-fields:focus{
    border: none;
}


.login {
    align-self: center;
    border: none;
    border-radius: 6px;
    color: #05386B;
    font-weight: 550;
    font-size: 16px;
}

.login:hover {
    background-color: rgb(59, 108, 156);
    color: #ffffff

}
