@keyframes animation {
    from {opacity: 0;}
    to {opacity: 100;}
}

label {
    margin-top: 5px;
    margin-bottom: 8px;
    color: #8F291F;
    font-weight: 550;
    font-size: 1.15rem;
    text-align: center;
}
.formheader {
    border-bottom: 2px solid #2471FF;
    margin-bottom: 15px;
}

.field {
    border-right: none;
    border-top: none;
    border-left: none;
    background-color:transparent;
    outline: none;
    color: #ffffff;
    font-size: large;
    font-weight: 550;
    caret-color: white;
    padding: 5px;
    margin-right: 20px;
}

.field:focus {
    border-bottom: 3px solid #2471FF;
}

.add-input {
	background: #ffffff;
	border: none;
	padding: 10px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #2471FF;
    font-size: 14px;
    align-self: center;
    margin-top: 15px;
}

.add-input:hover {
    background-color: #05386B;
}

.remove-input {
    font-weight: 700;
	color: #05386B;
	background: #ffffff;
	font-size: 14px;
    width: 8em;
    height: 2em;
    align-self: center;
    border-width: 1px 1px 3px;
    margin-bottom: 6px;
    border: none;

}

.remove-input:hover {
    background-color: rgba(200, 45, 45, .6);
    border: none;
}

.submit-potluck-form {
    display: flex; 
    align-content: center;
    justify-content: space-between;
    flex-direction: column; 
    width: 100%;
    padding: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px;
}

  
.no-suggestions {
    color: #999;
  }
  
.suggestions {
    /* border: 1px solid #05386B; */
    list-style: none;
    max-height: 143px;
    overflow-y: auto;
    width: calc(10rem);
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
.suggestion-active,
.suggestions li:hover {
    color: #05386B;
    cursor: pointer;
    font-weight: 700;
  }
  
.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }


.addpeople {
      display: flex;
      flex-direction: column;
  }

.additems {
      display: flex;
      flex-direction: column;
  }

.submit-post {
	background: none;
	border: none;
	padding: 10px;
	border: 3px solid #5994FF;
	border-radius: 3px;
	color:#05386B ;
    font-size: 14px;
    width: 5em;
    align-self: center;
    font-weight: 600;
}

.submit-post:hover {
    background: #05386B;
    color: #ffffff
}